{{#if pages}}
  <a href="#" {{action "save"}}>Save</a>
  <div class="card">
    <div class="card-block">
      <p>
        <a href="#" {{action "insert"}}>Insert replacement page</a>
        <a href="#" {{action "adjustThreshold" 1}}>+</a>
        <a href="#" {{action "adjustThreshold" -1}}>-</a>
        <a href="#" {{action "next"}}>next</a>
        <a href="#" {{action "prev"}}>prev</a>
      </p>
      <table class="table table-bordered">
        <tbody>
          {{#each currentPage as |row|}}
          <tr>
            {{#each row as |cell|}}
            <td>{{cell}}</td>
            {{/each}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
{{else}}
  <div class="container" style="height: 80vh;">
    <div class="row h-100 justify-content-center align-items-center">
      <span class="align-middle"><a href="#" class="btn btn-outline-primary btn-lg" {{action "pickFile"}}>Choose file</a></span>
    </div>
  </div>
{{/if}}