<h1>Generate csv</h1>
{{#if file}}
  <a href="#" {{action "parsePdf"}}>Parse {{file}}</a>
{{else}}
  <a href="#" {{action "pickFile"}}>Choose file</a>
{{/if}}

{{#if rows}}
  <a href="#" {{action "clear"}}>Reset</a>
  <table>
    <tbody>
      {{#each rows as |row|}}
        {{#each-in row as |k v|}}
          <tr>
            {{#each v as |cell|}}
              <td>{{cell}}</td>
            {{/each}}
          </tr>
        {{/each-in}}
      {{/each}}
    </tbody>
  </table>
{{/if}}